{% extends "bootstrap/layouts/base_navbar_responsive.html" %}


{% block content %}
<h1>Conspyre</h1>
<p>
Conspyre is an open-source framework for managing Activity state and reporting learning analytics to educators. It is designed to provide high-quality backend support for Developers and act as an automatic front-end for Instructors and Administrators. Conspyre simplifies common problems in Learning Activity software such as (re-)storing game state in non-1-to-1 learning environments, low-to-intermittent web connectivity, and reporting statistics to Instructors.
</p>
<p>
There are existing frameworks for Learning Analytics, but these do not seem to include Developers as a primary shareholder. Moreover, they focus on rudimentary digital educational activities, such as quizzes, chat rooms, and monitoring real-world classroom behavior. Conspyre will fill a gap by enabling complex, transformative Learning Activities that evince more complicated psychological and performative changes in students.
</p>
{% endblock %}
